.sign-in-btn {
  background-color: #6096ba !important;
  color: white !important;
}

.sign-in-btn:hover {
  background-color: #274c77 !important;
  color: white !important;
}

.sign-in-btn:active {
  background-color: #6096ba !important;
  color: white !important;
}

.sign-up-link {
  color: #6096ba !important;
}
